<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/svg+xml" href="/fav.svg">
  <title>Question</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="/styles.css">
</head>
<body class="bg-gradient-to-r from-[#84d2f6] to-[#edf6f9] text-gray-900 font-mono">
  <header class="bg-[#0466C8] text-white px-2 py-2.5 shadow-xl static">
    <div class="container mx-auto">
        <h1 class="text-xl font-bold mb-1">CodeExchange</h1>
      <nav>
        <a href="/" class="sm:mr-1 md:mr-3 text-md text-white transition-all ease duration-300 transform font-bold"><span class="px-1 py-0.5 rounded-md transition-all ease duration-300 transform hover:bg-white hover:text-[#0466C8] active:bg-[#5C677D] border border-white">Home</span></a>
        <% if (user) { %>
          <a href="/questions" class="sm:mr-1 md:mr-3 text-md text-white transition-all ease duration-300 transform font-bold"><span class="px-1 py-0.5 rounded-md transition-all ease duration-300 transform hover:bg-white hover:text-[#0466C8] active:bg-[#5C677D] border border-white">Questions</span></a>
          <a href="/profile" class="sm:mr-1 md:mr-3 text-md text-white transition-all ease duration-300 transform font-bold"><span class="px-1 py-0.5 rounded-md transition-all ease duration-300 transform hover:bg-white hover:text-[#0466C8] active:bg-[#5C677D] border border-white">Profile</span></a>
          <a href="/api/auth/logout" class="sm:mr-1 md:mr-3 text-md text-white transition-all ease duration-300 transform font-bold"><span class="px-1 py-0.5 rounded-md transition-all ease duration-300 transform hover:bg-white hover:text-[#0466C8] active:bg-[#5C677D] border border-white">Logout</span></a>
        <% } else { %>
          <a href="/login" class="sm:mr-1 md:mr-3 text-md text-white transition-all ease duration-300 transform font-bold"><span class="px-1 py-0.5 rounded-md transition-all ease duration-300 transform hover:bg-white hover:text-[#0466C8] active:bg-[#5C677D] border border-white">Login</span></a>
          <a href="/register" class="sm:mr-1 md:mr-3 text-md text-white transition-all ease duration-300 transform font-bold"><span class="px-1 py-0.5 rounded-md transition-all ease duration-300 transform hover:bg-white hover:text-[#0466C8] active:bg-[#5C677D] border border-white">Register</span></a>
        <% } %>
      </nav>
    </div>
  </header>
  
  <main class="container card mx-auto mt-4 rounded-2xl">
    <div class="p-4">
      <div class="flex justify-between">
        <h1 class="text-3xl font-bold mb-3 text-[#023E7D]"><%= question.title %></h1>
        <a href="/questions" class="text-lg text-white transition-all ease duration-300 transform font-bold"><span class="bg-[#023E7D] px-3 py-1 rounded-xl transition-all ease duration-300 transform hover:bg-[#002855] active:bg-[#001845] border border-white">Back</span></a>
      </div>
      <p class="text-[#001233] mb-2 text-lg"><%= question.description %></p>
      <p class="text-md text-[#5C677D] mb-4">-posted by <%= question.user.username %> on <%= new Date(question.createdAt).toLocaleString() %></p>

      <h2 class="text-xl font-semibold mb-3 underline text-[#023E7D]">Answers</h2>
      <% answers.forEach(answer => { %>
        <div class="mb-2.5">
          <p class="text-[#001233]">➤ <%= answer.text %></p>
          <p class="text-sm text-[#5C677D]">-by <%= answer.user.username %> on <%= new Date(answer.createdAt).toLocaleString() %></p>
        </div>
      <% }) %>

      <% if (user) { %>
        <form action="/questions/<%= question._id %>/answers" method="POST">
          <div class="mb-4">
            <label for="text" class="block text-[#023E7D]">Post an Answer</label>
            <textarea name="text" id="text" class="w-full px-3 py-1.5 border border-[#5C677D] rounded-xl" placeholder="If you know an answer to this question, you can answer it or can left a suggestion" required></textarea>
          </div>
          <div class="mb-4">
            <button type="submit" class="form-button">Post Answer</button>
          </div>
        </form>
      <% } else { %>
        <p class="text-[#001233]">Please <a href="/login" class="text-[#0466C8] hover:text-[#0353A4]">login</a>/<a href="/register" class="text-[#0466C8] hover:text-[#0353A4]">register</a> to post an answer.</p>
      <% } %>
    </div>
  </main>
  <footer class="bg-[#0466C8] mt-4 p-1 text-center bottom-0 fixed left-0 right-0 w-screen shadow-lg">
    <p class="text-white">&copy 2024 CodeExchange. All rights reserved. Created by Saksham</p>
  </footer>
</body>
</html>
