<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/svg+xml" href="/fav.svg">
  <title><%= title %></title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="/styles.css">
</head>
<body class="bg-gradient-to-r from-[#84d2f6] to-[#edf6f9] text-gray-900 font-mono">
  <header class="bg-[#0466C8] text-white px-2 py-2.5 shadow-xl static">
    <div class="container mx-auto">
        <h1 class="text-xl font-bold mb-1">CodeExchange</h1>
      <nav>
        <a href="/" class="sm:mr-1 md:mr-3 text-md text-white transition-all ease duration-300 transform font-bold">
          <span class="px-1 py-0.5 rounded-md transition-all ease duration-300 transform hover:bg-white hover:text-[#0466C8] active:bg-[#5C677D] border border-white">Home</span>
        </a>
        <% if (user) { %>
          <a href="/questions/ask" class="sm:mr-1 md:mr-3 text-md text-white transition-all ease duration-300 transform font-bold">
            <span class="px-1 py-0.5 rounded-md transition-all ease duration-300 transform hover:bg-white hover:text-[#0466C8] active:bg-[#5C677D] border border-white">Ask Question?</span>
          </a>
          <a href="/questions" class="sm:mr-1 md:mr-3 text-md text-white transition-all ease duration-300 transform font-bold">
            <span class="px-1 py-0.5 rounded-md transition-all ease duration-300 transform hover:bg-white hover:text-[#0466C8] active:bg-[#5C677D] border border-white">Questions</span>
          </a>
          <a href="/profile" class="sm:mr-1 md:mr-3 text-md text-white transition-all ease duration-300 transform font-bold">
            <span class="px-1 py-0.5 rounded-md transition-all ease duration-300 transform hover:bg-white hover:text-[#0466C8] active:bg-[#5C677D] border border-white">Profile</span>
          </a>
          <a href="/api/auth/logout" class="sm:mr-1 md:mr-3 text-md text-white transition-all ease duration-300 transform font-bold">
            <span class="px-1 py-0.5 rounded-md transition-all ease duration-300 transform hover:bg-white hover:text-[#0466C8] active:bg-[#5C677D] border border-white">Logout</span>
          </a>
        <% } else { %>
          <a href="/login" class="sm:mr-1 md:mr-3 text-md text-white transition-all ease duration-300 transform font-bold"><span class="px-1 py-0.5 rounded-md transition-all ease duration-300 transform hover:bg-white hover:text-orange-600 active:bg-orange-300 border border-white">Login</span></a>
          <a href="/register" class="sm:mr-1 md:mr-3 text-md text-white transition-all ease duration-300 transform font-bold"><span class="px-1 py-0.5 rounded-md transition-all ease duration-300 transform hover:bg-white hover:text-orange-600 active:bg-orange-300 border border-white">Register</span></a>
        <% } %>
      </nav>
    </div>
  </header>

  <main class="container mx-auto mt-8 mb-10">
    <% questions.forEach(question => { %>
      <div class="card px-4 py-3 rounded-2xl mb-4 transition-all duration-400 transform hover:scale-105 hover:bg-white">
        <h1 class="text-2xl font-bold mb-1 text-[#023E7D]"><%= question.title %></h1>
        <p class="text-sm text-[#5C677D] mb-2">— by <%= question.user.username %> on <%= new Date(question.createdAt).toLocaleString() %></p>
        <a href="/questions/<%= question._id %>" class="text-[#0466C8] hover:text-[#0353A4]">view more</a>
      </div>
    <% }) %>
  </main>
  <footer class="bg-[#0466C8] mt-4 p-1 text-center bottom-0 fixed left-0 right-0 w-screen shadow-lg">
    <p class="text-white">&copy 2024 CodeExchange. All rights reserved. Created by Saksham</p>
  </footer>
</body>
</html>